<!-- Add thymeleaf welcome home.html code -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Example</title>
</head>
<body>
    <h2>Welcome to Spring Boot Thymeleaf Example with Azure Kubernetes Service!</h2>
    <h3>Welcome to the Election Voting Online App</h3>
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div>
        <p>Total voting count: <span th:text="${count}"></span> times.</p>
        <p>Session valid: <span th:text="${sessionValid}"></span></p>
        <form th:action="@{/startVoting}" method="post">
            <button type="submit" th:disabled="${sessionValid == true}">Start-Voting</button>
        </form>
    </div>

    <p>Env variable <span th:text="${appEnv}"></span></p>
    <form th:action="@{/vote}" method="post">
        <label for="voter">Voter name:</label>
        <select id="voter" name="voter" required th:disabled="${sessionValid == false}">
            <option th:each="name : ${voterNames}" th:value="${name}" th:text="${name}"></option>
        </select>
        <label for="voteFor">Vote:</label>
        <select id="voteFor" name="voteFor" required th:disabled="${sessionValid == false}">
            <option th:each="voteFor : ${candidates}" th:value="${voteFor}" th:text="${voteFor}"></option>
        </select>
        <button type="submit" th:disabled="${sessionValid == false}">Vote</button>
    </form>
    <div th:if="${not sessionValid}">
        <h2>Election Voting Count</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Election Candidate</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${votes}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
        <h2>Voting Back End Records</h2>
        <table border="1">
            <thead></thead>
            <tbody>
            <tr th:each="remoteCall : ${remoteCalls}">
                <td th:text="${remoteCall}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>